@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Google+Sans:400,500,700|Google+Sans+Text:400&lang=vi");

*,
*:before,
*:after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  font: inherit;
}
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}
body {
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
}

.container {
  display: flex;
  margin-top: 10px;
}

.link {
  text-decoration: none;
  color: inherit;
}
