.cardProduct {
  margin-top: 50px;
  width: auto;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  .cardProduct_thumbnail {
    position: relative;
    .cardProduct_img {
      height: 300px;
      width: 100%;
      cursor: pointer;
    }
    .cardProduct_thumbnail-icon {
      display: none;
    }
  }

  .cardProduct_details {
    position: relative;
    margin-top: 1rem;
    color: #5b5b5b;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 0.75rem;
    z-index: 2;
    .cardProduct_details-price {
      color: #000;
      font-size: 1.2rem;
      font-weight: 500;
    }
  }
  &:hover {
    .cardProduct_thumbnail {
      z-index: 100;
      .cardProduct_thumbnail-icon {
        position: absolute;
        top: 10px;
        right: 20px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        animation: ScaleItem 0.3s ease-in;
        div {
          display: none;
          background-color: #333;
          width: 30px;
          height: 30px;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 50%;
          cursor: pointer;
          svg {
            font-size: 1rem;
            color: white;
          }
          &:hover {
            background-color: #27b574;
          }
        }
      }
    }
  }
}

@keyframes ScaleItem {
  0% {
    opacity: 0;
    transform: scale(0);
    visibility: hidden;
  }
  100% {
    opacity: 1;
    transform: scale(1);
    visibility: visible;
  }
}
