.collection {
  width: 85%;
  .collection_banner {
    display: flex;
    align-items: center;
    overflow: hidden;
    margin-bottom: 30px;
    img {
      width: 100%;
      height: 175px;
    }
  }
  .collection_options {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    .collection_options-sort {
      padding: 0 20px;
      height: 50px;
      font-size: 18px;
      line-height: 1.4em;
      color: #5b5b5b;
      border: none;
      text-transform: uppercase;
      background-color: #e4e4e4 !important;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      -ms-border-radius: 3px;
      border-radius: 3px;
      outline: none !important;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      -ms-box-shadow: none;
      box-shadow: none;
    }
  }
  .collection_products {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10rem;
    margin-bottom: 30px;
    .cardProductContainer {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      justify-content: space-between;
      gap: 3rem;
      &.gender {
        grid-template-columns: repeat(3, 1fr);
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .collection {
    margin-top: 5rem;
    .collection_banner {
      display: none;
    }
    .collection_products {
      .cardProductContainer {
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }
}
