.featured {
  padding-inline: 10rem;
  margin-top: 100px;
  .featuredTitle {
    h1 {
      position: relative;
      z-index: 10;
      min-width: 50%;
      display: inline-block;
      font-weight: 700;
      color: #1d1d1d;
      line-height: 100px;
      text-transform: uppercase;
      min-width: 1000px;
      margin: 20px 0 0;
      font-size: 22px;
      &::before {
        content: "FEATURED";
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: -4px;
        z-index: -1;
        font-weight: 700;
        font-size: 100px;
        line-height: 1em;
        color: #f4f4f4;
        letter-spacing: 0.08em;
      }
    }
  }
  .cardProductContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-between;
    gap: 3rem;
  }
}

@media screen and (max-width: 768px) {
  .featured {
    padding-inline: 1rem;
    .cardProductContainer {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}
