.header {
  display: flex;
  flex-direction: column;
  .headerTopBar {
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    z-index: 100;
    width: 100%;
    display: flex;
    padding-inline: 2rem;
    align-items: center;
    justify-content: space-between;
    font-size: 12px;
    color: rgba($color: #000000, $alpha: 0.7);
    .headerTopBar_btn {
      padding: 10px;
      border-inline: 1px solid lightgray;
    }
    .headerTopBar_close {
      display: none;
      .close {
        background-color: #ee3248;
        border-radius: 50%;
        height: 40px;
        width: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        transition: all 0.4s ease;
        svg {
          color: white;
        }
      }
    }
  }
  .headerNav {
    position: fixed;
    left: 0;
    right: 0;
    background-color: white;
    z-index: 100;
    width: 100%;
    border-top: 1px solid lightgray;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    background-color: white;
    .headerNav_right {
      width: 150px;
    }
    .headerNav_link {
      list-style-type: none;
      display: flex;
      align-items: center;
      font-size: 17px;
      font-weight: 600;
      li {
        cursor: pointer;
        margin-left: 4rem;
        transition: all 0.5s ease-in;
        padding: 10px;
        border-radius: 20px;
        &.active,
        &:hover {
          background-color: #2ac37d;
          color: white;
        }
      }
    }
    .headerNav_left {
      display: flex;
      align-items: center;
      gap: 1.75rem;
      .headerNav_left-search {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 8px 1rem;
        border-radius: 30px;
        background-color: rgba($color: lightgray, $alpha: 0.7);
        input {
          background-color: transparent;
          border: none;
        }
      }
      .headerNav_left-cart,
      .headerNav_left-list {
        position: relative;
        .icon,
        .close {
          background-color: #000000;
          border-radius: 50%;
          height: 40px;
          width: 40px;
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;
          transition: all 0.4s ease;
          svg {
            color: white;
          }
          &:hover {
            background-color: #2ac37d;
          }
        }
        span {
          position: absolute;
          top: 0;
          right: -8px;
          font-size: 12px;
          background-color: #2ac37d;
          border-radius: 50%;
          width: 20px;
          height: 20px;
          display: flex;
          align-items: center;
          justify-content: center;
          color: white;
          border: 1px solid white;
        }
      }
      .headerNav_left-list {
        display: none;
        .icon {
          background-color: #2ac37d;
        }
        .close {
          background-color: #ee3248;
          &:hover {
            background-color: #ee3248;
          }
        }
      }
    }
  }
  .headerServices {
    margin-top: 88px;
    width: 100%;
    overflow: hidden;
    background-color: #eeeeee;
    .headerServices_item {
      display: flex !important;
      align-items: center;
      justify-content: center;
      padding: 5px 0;
      gap: 10px;
      img {
        width: 40px;
        height: 40px;
      }
      .headerServices-title {
        display: flex;
        align-items: center;
        strong {
          text-transform: uppercase;
          font-weight: 500;
          color: gray;
        }
        p {
          color: rgba($color: gray, $alpha: 0.9);
          font-size: 14px;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .header {
    .headerTopBar {
      display: none;
    }
    .headerNav {
      .headerNav_link {
        display: none;
      }
      .headerNav_left {
        .headerNav_left-list {
          display: block;
        }
      }
    }
    .headerServices {
      display: none;
    }
    &.responsive {
      .headerTopBar {
        display: block;
        z-index: 101;
        display: flex;
        .headerTopBar_right {
          display: none;
        }
        .headerTopBar_btn {
          font-size: 18px;
        }
        .headerTopBar_close {
          display: block;
        }
      }
      .headerNav {
        .headerNav_link {
          background-color: white;
          height: 100vh;
          width: 100vw;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          gap: 3rem;
          li {
            font-weight: 500;
            font-size: 20px;
          }
        }
        .headerNav_left,
        .headerNav_right {
          display: none;
          .headerNav_left-search {
            display: none;
          }
          .headerNav_left-list {
            display: block;
          }
        }
      }
    }
    @keyframes responsive {
      from {
        left: -100%;
      }
      to {
        left: 0;
      }
    }
  }
}
